---
import Layout from "../layouts/Layout.astro";
import Review from "../components/Review.astro";
import Button from "../components/Button.astro";
---

<Layout>
  <main>
    <h1 class="margin50">Sådan bestiller du</h1>
    <section class="margin100">
      <p>
        For at bestille evighedskunst til dit hjem eller din virksomhed, skal du blot sende en <b> besked til os på Instagram.</b> Du skal oplyse et <b> cirka antal kvadratmeter, din adresse og vedhæfte et billede af det rum, du ønsker at få malet.</b>
        <br />
        <br />
        Inden vi ankommer bedes du at <b> have dækket af, så vi kan begynde med det samme, og skaffe en stige/et stillads, hvis dette er nødvendigt.</b>
        <br />
        <br />
        Når vi ankommer, vil vi have en dialog med dig om, hvilket farveunivers du drømmer om. <b> Vi maler kun motiver fra vores egen motivverden (menneskekroppe og elementer fra havet).</b>
      </p>
      <img src="/img/other/bestillingsguide_01.webp" alt="Carla foran et vægmaleri" />
    </section>
    <section class="margin50 order">
      <p>
        <b> Bemærk venligst: </b><br />
        <b> Vi har en fast kvadratmeterpris og tilføjer eventuelle transportudgifter oveni prisen. </b>
        <br />
        <br />
        Vi maler i øjeblikket ikke udendørs evighedskunst. <br />
        <br />
        Vi medbringer og blander selv alle vores farver, som bliver malet med akryl/vægmaling med et EU ecolabel.
      </p>
      <img class="order" src="/img/other/bestillingsguide_02.webp" alt="Carla foran et vægmaleri2" />
    </section>
    <section>
      <h2 class="margin50">Skriv til os på Instagram for at komme igang</h2>
      <div class="center">
        <Button link="https://www.instagram.com/someotherwaves/" aria-label="Klik her for at gå til Some Other Waves' Instagram-profil">@someotherwaves</Button>
      </div>
    </section>
  </main>
  <style>
    .center {
    }
    img {
      width: 100%;
    }
    main {
      width: 75%;
      margin: auto;
    }
    img {
      border-radius: 15px;
    }
    p {
      margin-bottom: 25px;
    }
    h2 {
      text-align: center;
    }
    h1 {
      text-align: center;
    }

    @media (min-width: 800px) {
      .margin100 {
        display: flex;
        margin-bottom: 50px;
      }
      .order {
        display: flex;
        order: -1;
        margin-bottom: 25px;
      }
      img {
        width: 45%;
        height: 40%;
      }
      h1 {
        text-align: center;
      }
      .margin50 p {
        padding-left: 20px;
      }
      .margin100 p {
        padding-right: 20px;
      }
    }
  </style>
</Layout>
