---
// Definerer href som en prop
export const href = "/";
const { link } = Astro.props;
---

<a class="button" href={link}>
  <slot />
</a>

<style>
  .button {
    display: block;
    background-color: var(--red) !important;
    border-radius: 50px;
    border: 2px solid var(--red);
    padding: 10px 45px;
    color: white !important;
    text-decoration: none;
    font-family: "Source Sans 3", sans-serif;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    transition-duration: 0.3s;
  }

  .button:hover {
    background-color: var(--neutral) !important;
    color: var(--red) !important;
  }

  @media (min-width: 1000px) {
    .button {
      font-size: 16px;
    }
  }
</style>
