<footer>
  <div class="social_links">
    <a href="https://www.facebook.com/someotherwaves/" target="_blank"><img src="/svg/fb.svg" alt="Link til Facebook" /></a>
    <a href="https://www.instagram.com/someotherwaves/?hl=da" target="_blank"><img src="/svg/insta.svg" alt="Link til Instagram" /></a>
    <a href="https://www.linkedin.com/" target="_blank"><img src="/svg/linkedin.svg" alt="Link til LinkedIn" /></a>
  </div>
  <div class="footer_links">
    <a href="/">Hjem</a>
    <a href="/galleri">Galleri</a>
    <a href="/omos">Om os</a>
    <a href="/bestillingsguide">Bestillingsguide</a>
  </div>
  <p>© 2024 Some Other Waves. All Rights Reserved</p>
</footer>

<style>
  footer {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 30px;
  }

  footer a {
    color: var(--red);
  }

  .social_links {
    display: flex;
    gap: 30px;
  }
  .footer_links {
    font-family: "Source Sans 3", sans-serif;
    font-weight: bold;
    display: flex;
    gap: 32px;
  }
  a {
    color: var(--red) !important;
    transition-duration: 0.2s;
  }
  p {
    text-align: center;
  }
  a:visited {
    color: var(--red) !important;
  }
  a:hover {
    opacity: 50%;
  }

  img {
    border-radius: 0% !important;
  }
  p {
    margin: 0;
  }
  /* a{
        text-decoration: none !important;
        color: #F3747B !important; 
    }

    p{
        font-family: "Source Sans 3", sans-serif;
        color: #484187;
    } */
  /* ----- Desktop Verions ----- */
  @media (min-width: 800px) {
  }
</style>
