---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Mansalva&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=chevron_right" />
    <title>Astro Basics</title>
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
  </body>
  <Footer />
</html>

<script>
  const pathName = window.location.pathname;
  const pageName = pathName;

  if (pageName === "/") {
    document.querySelector("title").innerHTML = "Some Other Waves";
  }
  if (pageName === "/galleri/") {
    document.querySelector("title").innerHTML = "Galleri";
  }
  if (pageName === "/omos/") {
    document.querySelector("title").innerHTML = "Om os";
  }
  if (pageName === "/bestillingsguide/") {
    document.querySelector("title").innerHTML = "Bestillingsguide";
  }
</script>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
